/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #2D3142;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.register-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

input {
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #2D3142;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1a1d2b;
}

.error, .success {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.error {
    color: red;
}

.success {
    color: green;
}
